# Tuple
- Immutable
- Not Dynamic
- Fast
- No Functions are applied

In [1]:
emptytuple = ()
tup1 = (10)
print(type(tup1))
tup2 = 10,
print(type(tup2))
tup3 = (10,20,30,40) #tuple of integers
tup4 = ('sdad','dada','dadda') #tuple of strings
tup5 = (10,78.9,'dada') #tuple of mixed values
tup6 = (10,(20.5,30),[44,50]) #tuple of list integers,tuples-nested tuples

<class 'int'>
<class 'tuple'>

# Indexing
Tuples uses indexing to extract values
> zerobased indexing

In [2]:
x = (10,20,[40,50,60])
print(x[0])
print(x[2][0])
print(len(x))

y = (10,40.9,['cloud','python'],(60,40))
print(y[-1][1]) #tuple support forward and backward indexing
print(type(y[-2][1]))

10
40
3
40
<class 'str'>

SLICING

In [3]:
y = (10,40.9,['cloud','python'],(60,40))
print(y[:3])
print(y[:-2]) #(10, 40.9)
print(y[1:3])
print(y[::2])

(10, 40.9, ['cloud', 'python'])
(10, 40.9)
(40.9, ['cloud', 'python'])
(10, ['cloud', 'python'])

- concatination

In [4]:
tup = ('Rahul','Vaidya')+('sujata','Puja') #concatination
print(tup)
tup1 = (('reena')*4)
print(tup1)

('Rahul', 'Vaidya', 'sujata', 'Puja')
reenareenareenareena

- frequency of elements

In [5]:
tup2 = (1,2,3,4,5,6,8,5,1,2,3,)
print(tup2.count(1))

2

- gives the firstmost index of element

In [6]:
tup3 = (1,2,3,4,5,6,8,5,1,2,3,)
print(tup3.index(3))

2

- membership checks the element

In [7]:
tup3 = (1,2,3,4,5,6,8,5,1,2,3,)
print(1 in tup3)

True

- sorted

In [8]:
tup3 = (40,60,10,90,190,70)
a = sorted(tup3)
print(a)
print(max(tup3))
print(min(tup3))
print(sum(tup3))

[10, 40, 60, 70, 90, 190]
190
10
460